numpy
matplotlib
pandas
wget
lxml
networkx
community
pickle-mixin
python-igraph==0.7.1.post6
chart-studio
plotly
tweepy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
nltk
spacy
gensim
textblob